@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: clip;

    /* Light par défaut  */
    @apply bg-light-bg text-light-text transition-colors duration-300;
  }

  .dark body {
    @apply bg-dark-bg text-dark-text;
  }

  ::selection {
    @apply bg-primary text-black;
  }

  #root {
    min-height: 100vh;
  }
}

.scroll-stack-card {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}